
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,500;0,600;0,700;1,200;1,400;1,500;1,600&family=Ubuntu:ital,wght@0,400;0,700;1,500&display=swap');


*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
}


.max-width{
	max-width: 1300px;
	padding: 0 80px;
	margin: auto;
}


/* navbar styling */


.navbar{
	position: fixed;

	width: 100%;
	padding: 30px 0;
	font-family: 'Ubuntu', sans-serif;
	transition: all 0.3 ease;
}

.navbar .sticky{

	background: crimson;
	padding: 15px 0;
	color: crimson;
 }

.navbar .max-width{
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.navbar .logo a{
	color: #fff;
	font-size: 35px;
	font-weight: 600;
}

.navbar .logo a span{
	color: crimson;
}

.navbar .manu li{
	list-style: none;
	display: inline-block;
}

.navbar .manu li a{
	color: #fff;
	font-size: 18px;
	font-weight: 500;
	margin-left: 25px;
	transition: color 0.3s ease;

}


.navbar .manu li a:hover{
	color: crimson;
}


/* home section start */






.home{
	display: flex;
	background: url("img/sayem3.jpg") no-repeat center;
	height: 100vh;
	color: #fff;
	min-height: 500px;
	font-family: 'Ubuntu', sans-serif;
}

.home .max-width{
	margin: auto 0 auto 40px;

}
.home .home-content .text-1{
	font-size: 27px;
}

.home .home-content .text-2{
	font-size: 65px;
	font-weight: 600;
	margin-left: -3px;
}

.home .home-content .text-3{
	font-size: 40px;
	margin: 5px 0;

}

.home .home-content .text-3 span{
	color: crimson;
	font-weight: 500;
}



.menu-btn{
	color: #fff;
	font-size: 23px;
	cursor: pointer;
	display: none;
}

/* responsive madia start */

@media (max-width: 947px){

  .max-width{

	padding: 0 50px;

  }
  .menu-btn{
  	display: block;
  	z-index: 999;
  }

  .navbar .manu{
  	position: fixed;
  	background: #111;
  	height: 100vh;
  	width: 100%;
  	left: -100;
  	top: 0;
  	text-align: center;
  	padding-top: 80px;
  }

   .navbar .manu li{
   	display: block;
   }
   .navbar .manu li a{
   	display: inline-block;
   	margin: 20px 0;
   	font-size: 25px;
   }

   .navbar .manu .active{

   	left: 0;

   }
}


.home .home-content a{
	display: inline-block;
	background: crimson;
	color: #fff;
	font-size: 25px;
	padding: 12px 36px;
	margin-top: 20px;
	border-radius: 6px;
	border: 2px solid crimson;
	transition: all 0.3s ease;


}

.home .home-content a:hover{
	color: crimson;
	background: none;
}
#img {
    width: 500px;}

/* About*/
section{
	padding: 100px 0;
}
.about .Services{
	font-family: 'Poppins', sans-serif;


}

.about .title{
	text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
    position: relative;

	font-family:'Ubuntu', sans-serif;
}

.about .about-content {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
}

.about .about-content .left{
   width: 45%;
}

.about .about-content .left img{
	height: 400px;
	width: 400px;
	object-fit: cover;
	border-radius: 6px;

}

.about .title::before{

	position:absolute;
	width: 180px;
	height: 3px;
	background: #111;
	bottom: 0px;
	left: 50%;
	transform: translateX(-50%);
	content: "";

}

.about .title::after{

	position:absolute;
	padding: 5px;
	background: #fff;
	bottom: -12px;
	font-size: 20px;
	color: crimson;
	left: 50%;
	transform: translateX(-50%);
	content: "Who i am";

}


.about .about-content .right{
   width: 55%;
}

.about .about-content .right .text{
	font-size: 25px;
	font-weight: 60px;
	margin-bottom: 10px;
}

.about .about-content .right .text span{
	color: crimson;
}

.about .about-content .right p{
	text-align: justify;
}

.about .about-content .right a{
	display: inline-block;
	background: crimson;
	color: #fff;
	font-size: 20px;
	padding: 10px 30px;
	font-weight: 500;
	margin-top: 20px;
	border-radius: 6px;
	border:2px solid crimson;
	transition: all 0.3s ease;

}

.about .about-content .right a:hover{
	color: crimson;
	background: none;
}


/* services */

.Services{
	color: #fff;
	background: #111;
}



.Services .title{
	text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
    position: relative;

	font-family:'Ubuntu', sans-serif;
}


.Services .title::before{

	position:absolute;
	width: 180px;
	height: 3px;
	background: #fff;
	bottom: 0px;
	left: 50%;
	transform: translateX(-50%);
	content: "";

}


.Services .title::after{

	position:absolute;

	padding: 5px;
	background: #111;
	bottom: -12px;
	font-size: 20px;
	color: crimson;
	left: 50%;
	transform: translateX(-50%);
	content: "What i provide";

}


.Services .Services-content{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
}

.Services .Services-content .card{
	width: calc(33%-20%);
}

.Services .Services-content .card {
    height: 200px;
    width: 250px;
    padding: 20px 25px;
    background: #222;
    font-size: 18px;
    border-radius: 6px;
    cursor: pointer;
    text-align: justify;
    transition: all 0.3s ease;

}

.Services .Services-content .card2 {
    width: 250px;
    padding: 20px 25px;
    height: 200px;
    background: #222;
    font-size: 18px;
    text-align: center;
    border-radius: 6px;
    cursor: pointer;
    text-align: justify;
    transition: all 0.3s ease;

}

.Services .Services-content .card3 {
    width: 250px;
    padding: 20px 25px;
    background: #222;
    text-align: center;
    font-size: 18px;
    height: 200px;
    border-radius: 6px;
    cursor: pointer;
    text-align: justify;
    transition: all 0.3s ease;
}

.Services .Services-content .card .text{
	font-size: 25px;
	font-weight: 500;
	margin: 10px 0 7px 0;
	text-align: center;
}

.Services .Services-content .card2 .text{
	font-size: 25px;
	font-weight: 500;
	margin: 10px 0 7px 0;
	text-align: center;
}

.Services-content {
    padding-left: 110px;
    padding-right: 110px;

}

.Services .Services-content .card3 .text{
	font-size: 25px;
	font-weight: 500;
	margin: 10px 0 7px 0;
	text-align: center;
}


.Services .Services-content .card .box{
	transition: all 0.3s ease;
}
.Services .Services-content .card2 .box{
	transition: all 0.3s ease;
}

.Services .Services-content .card3 .box{
	transition: all 0.3s ease;
}

.Services .Services-content .card:hover .box{
	transform: scale(1.05);
}


.Services .Services-content .card2:hover .box{
	transform: scale(1.05);
}

.Services .Services-content .card3:hover .box{
	transform: scale(1.05);
}

.Services .Services-content .card:hover{
	background: crimson;
}

.Services .Services-content .card2:hover{
	background: crimson;
}

.Services .Services-content .card3:hover{
	background: crimson;
}


/* skills*/



.Skills .title{
	text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
    position: relative;

	font-family:'Ubuntu', sans-serif;
}


.Skills .title::before{

	position:absolute;
	width: 180px;
	height: 3px;
	background: #111;
	bottom: 0px;
	left: 50%;
	transform: translateX(-50%);
	content: "";

}


.Skills .title::after{

	position:absolute;

	padding: 5px;
	background: #fff;
	bottom: -12px;
	font-size: 20px;
	color: crimson;
	left: 50%;
	transform: translateX(-50%);
	content: "What i know";

}

.Skills{
	font-family: 'Poppins', sans-serif

}

.Skills .Skills-content{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;

}
.Skills-content {
    width: (50%-30px);
    width: 550px;
}


.Skills .Skills-content .left .text{
	font-size: 25px;
	font-weight: 600;
	margin-bottom: 10px;

}

.Skills .Skills-content .left p{
	text-align: justify;
	font-size: 18px;
}

.Skills .Skills-content .left a{

	display: inline-block;
	background: crimson;
	color: #fff;
	font-size: 18px;
	padding: 8px 16px;
	font-weight: 500;
	margin-top: 20px;
	border-radius: 6px;
	border:2px solid crimson;
	transition: all 0.3s ease;

}
.Skills .Skills-content .left a:hover{
	color: crimson;
	background: none;
}


.Skills .Skills-content .right2 .bars{
	margin-bottom: 15px;
}

.Skills .Skills-content .right2 .info{
	display: flex;
	align-items: center;
	justify-content: space-between;

}



.column.right2 {
    padding-left: 600px;
    margin-top: -300px;
}

.siam {
    padding-left: 400px;
}

.Skills .Skills-content .right2 span{
	font-size: 18px;
	font-weight: 500;
}

.Skills .Skills-content .right2 .line{
	height: 5px;
	width: 100%
	background:lightgrey;
}

 .line.html{
    height: 5px;
    width: 100%;
    background: lightgray;
    position: relative;
}


.line.css {
    height: 5px;
    width: 100%;
    background: lightgray;
}

.line.js {
    height: 5px;
    width: 100%;
    background: lightgray;
}

.line.php {
    height: 5px;
    width: 100%;
    background: lightgray;
}

.line.mysql {
    height: 5px;
    width: 100%;
    background: lightgray;
}


.line.html::before{
	position: absolute;
	height: 100%
	width:95%;
	left: 0;
	top: 0;
	background: crimson;
	content: ""
}

.line.html {
    background: crimson;
    height: 100%;
    width: 95%;
    left: 0;

    top: 0;

    content: "";
    }


.line.css {
    background: crimson;
    height: 100%;
    width: 80%;
    left: 0;

    top: 0;

    content: "";
   }

.line.js {
    background: crimson;
    height: 100%;
    width: 85%;
    left: 0;

    top: 0;

    content: "";
  }
 .line.php {
    background: crimson;
    height: 100%;
    width: 80%;
    left: 0;

    top: 0;

    content: "";
 }

 .line.mysql {
    background: crimson;
    height: 100%;
    width: 95%;
    left: 0;

    top: 0;

    content: "";
}


.teams{
	font-family:'Poppins', sans-serif;
}

.teams .title{
	text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
    position: relative;

	font-family:'Ubuntu', sans-serif;
}


.teams .title::before{

	position:absolute;
	width: 180px;
	height: 3px;
	background: #fff;
	bottom: 0px;
	left: 50%;
	transform: translateX(-50%);
	content: "";

}


.teams .title::after{

	position:absolute;

	padding: 5px;
	background: #111;
	bottom: -12px;
	font-size: 20px;
	color: crimson;
	left: 50%;
	transform: translateX(-50%);
	content: "who with me";

}


.teams{
	color: #fff;
	background: #111;
}

.photoing img {
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
    border: 5px solid crimson;
}

.photoings img {
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
    border: 5px solid crimson;
}

.photoingss img {
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
    border: 5px solid crimson;
}

.teams .Teams-content .carousel{
	background: #222;
	border-radius: 6px;
	padding: 25px 35px ;
}

.photoings {
    padding-left: 420px;
    margin-top: -230px;
}

.photoingss {
    padding-left: 795px;
    margin-top: -230px;
}

.friend {
	color: crimson;
	font-size: 35px;
}

.friends {
	color: crimson;
	font-size: 35px;
}
.friendss {
	color: crimson;
	font-size: 35px;
}



.photoing {
	padding-left: 35px;
}

.login{

	background: #1D9A9E;
}

.loginbox{
	width: 400px;
	padding: 40px 20px;
	background: white;
	margin: auto;
	margin-top: 150px;
	text-align: center;
	box-shadow: 1px 5px 20px -2px black;
	transform:
}

.loginbox input{
	display: block;
	padding: 10px;
	width: 70%;
	margin:15px auto;
	border:none;
	background: #EFEFEF;
	outline: none;
}

.LogIn{
	width: 76% !important;
	color: white !important;
	font-size: 17px;
	font-family: tahoma;
	background: linear-gradient(#1D9A9E,#6bf582) !important;
}
.LogIn:hover{
	background: linear-gradient(#6bf582,#1D9A9E) !important;
	cursor: pointer;
}

.register{
	margin: auto;
	margin-top: 15px;
	width: 57%;
}

.register a{
	text-decoration: none;
	color: #1D9A9E;
	font-family: tahoma;
	font-size: 13px;
	text-align: center;
}



.loginbox a{
	text-decoration: none;
	color: #1D9A9E;
	font-family: tahoma;
	font-size: 13px;
	text-align: center;
}

.loginbox h1{
	color: #1D9A9E;
	font-family: tahoma;
	text-shadow: 1px 1px 1px black;
}
.items .title{
	text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
    position: relative;

	font-family:'Ubuntu', sans-serif;
}


.items .title::before{

	position:absolute;
	width: 180px;
	height: 3px;
	background: #111;
	bottom: 0px;
	left: 50%;
	transform: translateX(-50%);
	content: "";

}


.items .title::after{

	position:absolute;

	padding: 5px;
	background: #fff;
	bottom: -12px;
	font-size: 20px;
	color: crimson;
	left: 50%;
	transform: translateX(-50%);
	content: "What i know";

}

.accordion-container{

  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  background-color: #fefefe;
}
.accordion-container .accordion{
  width: 700px;
}
.accordion-container .accordion .accordion-header{
  width: 100%;
  background-color: #ffbe76;
  color: #fff;
  margin: 5px 0px ;
  box-shadow: 0 2px 5px rgbe(0,0,0,3);
  cursor: pointer;
}
.accordion-container .accordion .accordion-header .icon{
  display: inline-block;
  font-size: 30px;
  height: 60px;
  width: 50px;
  line-height: 60px;
  background-color: #f0932b;
  clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
}
.accordion-container .accordion .accordion-header h1{
  display: inline;
  font-size: 20px;
}
.accordion-container .accordion .accordion-body{
  padding: 15px;
  box-shadow: 0 2px 5px rgba(0,0,0,3);
  background-color: #fff;
  color: #666;
  display: none;
}
.accordion-container .accordion:nth-child(1).accordion-body{
  display: block;
}
#footer {
    background: black;
    color: wi;
    color: wheat;
    padding: 10px;
    font-size: 23px;
}
.dsajsdj {
  font-size: 25px;
  margin: ;
  margin-left: 100px;
}
.suajads {
  color: crimson;
  font-size: 30px;
}
